<!-- Code/routes/templates/activity_aptitudes.html -->

<div class="aptitudes-section">
    <div id="aptitudes-container-{{ activity.id }}">
      <h3>Aptitudes</h3>
      {% if activity.aptitudes and activity.aptitudes|length > 0 %}
        <ul>
          {% for ap in activity.aptitudes %}
            <li id="aptitude-{{ ap.id }}" class="sf-item">
              <!-- Mode affichage -->
              <div id="apt-display-{{ ap.id }}" class="sf-display">
                <span class="sf-text">{{ ap.description }}</span>
                <button
                  class="icon-btn edit-aptitude-btn"
                  data-aptitude='{{ {"id": ap.id, "description": ap.description}|tojson|safe }}'
                  onclick="showEditAptitudeForm(this)"
                >
                  <i class="fa-solid fa-pencil"></i>
                </button>
                <button class="icon-btn" onclick="deleteAptitude('{{ activity.id }}','{{ ap.id }}')">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </div>

              <!-- Mode édition -->
              <div class="sf-edit-area" id="edit-aptitude-form-{{ ap.id }}" style="display:none;">
                <input type="text" class="sf-input" id="edit-aptitude-input-{{ ap.id }}" />
                <button class="icon-btn" onclick="submitEditAptitude('{{ activity.id }}','{{ ap.id }}')">
                  <i class="fa-solid fa-check"></i>
                </button>
                <button class="icon-btn" onclick="hideEditAptitudeForm('{{ ap.id }}')">
                  <i class="fa-solid fa-xmark"></i>
                </button>
              </div>
            </li>
          {% endfor %}

        </ul>
      {% else %}
        <p>Aucune Aptitude enregistrée.</p>
      {% endif %}
      <button onclick="showAddAptitudeForm('{{ activity.id }}')">+ Ajouter une Aptitude</button>
      <div id="add-aptitude-form-{{ activity.id }}" style="display:none; margin-top:5px;">
        <input type="text" id="add-aptitude-input-{{ activity.id }}" />
        <button onclick="submitAddAptitude('{{ activity.id }}')">Enregistrer</button>
        <button onclick="hideAddAptitudeForm('{{ activity.id }}')">Annuler</button>
      </div>
      <button onclick="showProposedAptitudes('{{ activity.id }}')" >Proposer Aptitudes</button>
      </div>
      <script src="{{ url_for('static', filename='js/propose_aptitudes.js') }}"></script>
      <script src="{{ url_for('static', filename='js/competences_crud.js') }}"></script>
</div>


{% include 'aptitudes_modal.html' %}