<!-- Code/routes/templates/activity_savoirs.html -->
<div class="savoirs-section">
    <div id="savoirs-container-{{ activity.id }}">
      <h4 class="sf-sv-subtitle">{{ t('savoirs.title') }}</h4>
      {% if activity.savoirs and activity.savoirs|length > 0 %}
        <ul>
          {% for sv in activity.savoirs %}
            <li id="savoir-{{ sv.id }}">
              <span class="savoir-text">{{ sv.description }}</span>
              <button
                class="edit-savoir-btn"
                data-savoir='{{ {"id": sv.id, "description": sv.description}|tojson|safe }}'
                onclick="showEditSavoirForm(this)"
              >
                <i class="fa-solid fa-pencil"></i>
              </button>
              <button onclick="deleteSavoir('{{ activity.id }}','{{ sv.id }}')">
                <i class="fa-solid fa-trash"></i>
              </button>
  
              <!-- Formulaire d'édition caché -->
              <div id="edit-savoir-form-{{ sv.id }}" style="display:none; margin-top:10px;">
                <input type="text" id="edit-savoir-input-{{ sv.id }}" />
                <button onclick="submitEditSavoir('{{ activity.id }}','{{ sv.id }}')">{{ t('btn.save') }}</button>
                <button onclick="hideEditSavoirForm('{{ sv.id }}')">{{ t('btn.cancel') }}</button>
              </div>
            </li>
          {% endfor %}

        </ul>
      {% else %}
        <p>{{ t('propose.none_savoir') }}</p>
      {% endif %}
      <button onclick="showAddSavoirForm('{{ activity.id }}')">{{ t('savoirs.add_btn') }}</button>
      <div id="add-savoir-form-{{ activity.id }}" style="display:none; margin-top:10px;">
        <input type="text" id="add-savoir-input-{{ activity.id }}" />
        <button onclick="submitAddSavoir('{{ activity.id }}')">{{ t('btn.save') }}</button>
        <button onclick="hideAddSavoirForm('{{ activity.id }}')">{{ t('btn.cancel') }}</button>
      </div>
      <!-- !><button onclick="fetchActivityDetailsForSavoirs('{{ activity.id }}')">Proposer Savoirs</button>  -->
      </div>
      <script src="{{ url_for('static', filename='js/propose_savoirs.js') }}"></script>
      <script src="{{ url_for('static', filename='js/competences_crud.js') }}"></script>
    </div>


{% include 'savoirs_modal.html' %}